.create_person_pop_up {
  z-index: 999;
  position: absolute;
  border: 1px solid $main_color;
  background: #fff;
  padding: 17px 5px 5px;
  width: 165px;

  input {
    margin-bottom: 5px;
  }

  .create_add {
    padding: 5px;
    margin-top: 5px;
    background: lighten($main_color, 10%);

    &:hover {
      background: $main_color;
    }
  }
}