.seat {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url(/../img/user.png);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  z-index: 1200;
}

.seat_popup {
  position: absolute;
  top: -100px;
  left: 25px;
  border: 1px solid #fff;
  width: 150px;
  background: lighten($main_color, 10%);
  color: #fff;
  display: none;
  width: 230px;
  padding: 5px;
  z-index: 1300;

  p {
    margin: 3px;
  }
}

.status {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100px;

}

.close_pop_up_seat {
  position: absolute;
  top: -6px;
  right: 1px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

.parent {
  position: relative;
  width: 1200px;
  height: 500px;
  border: 2px solid #3E85A2;
  background-image: url(/../img/plan.svg);
  margin: 0 auto;
  background-size: cover;

}

.del_occupant {
  font-size: 25px;
  position: absolute;
  top: 50px;
  right: 0;
  color: darken($main_color, 20%);
  font-weight: 600;
}

.occupant_name {
  position: relative;
}

.dell_seat {
  padding: 3px;
}

.pop_up_headers {
  color: red;
}

.change_title {
  input, select {
    padding: 4px;
    display: inline-block;
    margin-bottom: 5px;
  }

  input[type="text"], select {
    width: 70%;
  }

  option {
    padding: 0;
  }

  input[type="submit"] {
    width: 20%;
    padding: 4px;
  }
}

.change_person {
  input, select {
    display: inline-block;
    margin-bottom: 5px;
  }

  select {
    width: 70%;
  }

  input[type="submit"] {
    width: 25%;
    padding: 8px;
  }
}